In [33]:
import pandas as pd

data = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matrix = pd.DataFrame(data)
print(matrix)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [34]:
matrix + 10

    0   1   2
0  11  12  13
1  14  15  16
2  17  18  19

In [35]:
matrix = matrix + 10

In [36]:
matrix

    0   1   2
0  11  12  13
1  14  15  16
2  17  18  19

In [37]:
matrix = matrix * 1.1

In [38]:
matrix

      0     1     2
0  12.1  13.2  14.3
1  15.4  16.5  17.6
2  18.7  19.8  20.9

In [39]:
# Modifier une partie de la matrice
# matrix.iloc[1::, 1::] = 10 

# Affichez une sous-matrice
matrix.iloc[1::, 1::]

      1     2
1  16.5  17.6
2  19.8  20.9

In [40]:
# Augmentez de 15% les valeurs supérieur à 16 

mask = matrix > 16 # filtrage 
matrix[mask] = matrix[mask] * 1.15

In [41]:
matrix

        0       1       2
0  12.100  13.200  14.300
1  15.400  18.975  20.240
2  21.505  22.770  24.035

In [42]:
data = [
    [13, 54, 23, 23, 62, 29, 53, 15, 54, 67],
    [13, 54, 23, 23, 62, 29, 53, 15, 54, 67],
    [98, 36, 34, 40, 13, 92, 41, 61, 94, 62],
    [33, 87, 46, 44, 82, 87, 11, 76, 76, 21],
    [56, 16, 13, 91, 64, 13, 77, 44, 44, 27],
    [56, 16, 13, 91, 64, 13, 77, 44, 44, 27],
    [15, 87, 20, 50, 53, 48, 39, 38, 91, 32],
    [93, 48, 28, 27, 50, 55, 28, 38, 78, 85],
    [76, 58, 26, 89, 88, 71, 97, 80, 42, 52],
    [76, 58, 26, 89, 88, 71, 97, 80, 42, 52],
    [38, 98, 55, 61, 75, 82, 37, 64, 87, 83],
    [24, 53, 16, 84, 82, 13, 18, 18, 82, 51]
]

index_labels = list("abcdefghijkl")
column_labels = list("ABCDEFGHIJ")

df = pd.DataFrame(data, index=index_labels, columns=column_labels)
print(df)

    A   B   C   D   E   F   G   H   I   J
a  13  54  23  23  62  29  53  15  54  67
b  13  54  23  23  62  29  53  15  54  67
c  98  36  34  40  13  92  41  61  94  62
d  33  87  46  44  82  87  11  76  76  21
e  56  16  13  91  64  13  77  44  44  27
f  56  16  13  91  64  13  77  44  44  27
g  15  87  20  50  53  48  39  38  91  32
h  93  48  28  27  50  55  28  38  78  85
i  76  58  26  89  88  71  97  80  42  52
j  76  58  26  89  88  71  97  80  42  52
k  38  98  55  61  75  82  37  64  87  83
l  24  53  16  84  82  13  18  18  82  51

In [ ]:
# suppression des lignes identiques
df_no_duplicates = df.drop_duplicates()