In [24]:
import pandas as pd

data = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matrix = pd.DataFrame(data)
print(matrix)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [25]:
matrix + 10

    0   1   2
0  11  12  13
1  14  15  16
2  17  18  19

In [26]:
matrix = matrix + 10

In [27]:
matrix

    0   1   2
0  11  12  13
1  14  15  16
2  17  18  19

In [28]:
matrix = matrix * 1.1

In [29]:
matrix

      0     1     2
0  12.1  13.2  14.3
1  15.4  16.5  17.6
2  18.7  19.8  20.9

In [30]:
# matrix.iloc[1::, 1::] = 10

In [23]:
# start:step:end
matrix

      0     1     2
0  12.1  13.2  14.3
1  15.4  10.0  10.0
2  18.7  10.0  10.0

In [31]:
# Augmentez de 15% les valeurs supérieur à 16 

mask = matrix > 16
matrix[mask] = matrix[mask] * 1.15

In [32]:
matrix

        0       1       2
0  12.100  13.200  14.300
1  15.400  18.975  20.240
2  21.505  22.770  24.035