In [6]:
import pandas as pd
import numpy as np

names1880 = pd.read_csv('./names/yob1880.txt', names=['name', 'sex', 'birth'])

In [7]:
names1880.head()

        name sex  birth
0       Mary   F   7065
1       Anna   F   2604
2       Emma   F   2003
3  Elizabeth   F   1939
4     Minnie   F   1746

In [ ]:
# Exercice en utilisant la méthode concat de pandas créer un DataFrame names de l'ensemble des fichiers

In [ ]:
"""
df1, df2, df3

DF = pd.concat([df1, df2, df3])

"""

In [20]:
columns = [ 'name', 'sex', 'birth']
yobs = []
for year in range(1880, 2019):
    df = pd.read_csv(f"./names/yob{year}.txt", names = columns)
    df['year'] = year
    yobs.append(df)

# Lors de la concaténation il est souhaitable de réinitialiser les index pour qu'ils soient séquentiels dans 
# dans le DataFrame résultant.
names = pd.concat(yobs, ignore_index=True)

In [22]:
names.tail()

          name sex  birth  year
1957041  Zylas   M      5  2018
1957042  Zyran   M      5  2018
1957043  Zyrie   M      5  2018
1957044  Zyron   M      5  2018
1957045  Zzyzx   M      5  2018