In [1]:
import pandas as pd

# Données des températures pour le mois de janvier
january = pd.DataFrame({'Temperature': [-2,  5, -5,  6, -2,  0,  6,  2,  8,  0,  6, -1,  3,  3,  7,  0, -5,
                                        7,  4,  7,  8, -1,  5, -2,  3, -3, -2,  7,  8,  4,  2]}, dtype='float64')

# 1. Températures supérieures à 0
# (january['Temperature']  > 0).astype(int).sum() <=> on fait la somme soit 0 soit 1
# On peut également le faire sur True et False 
t_sup = (january['Temperature']  > 0).sum()
print(t_sup)

# 2. Comparaison des températures supérieures et inférieures à 0
t_inf = (january['Temperature']  <= 0).sum()
print(t_sup, t_inf)

message = 'il y a plus de temperatures positives' if  t_sup > t_inf  else  'il y a plus de temperatures négatives' 
print(message)
# 3. Pourcentage des températures positives sur le mois
percentage_postivie =  round( t_sup / len(january) * 100 , 2 )
print(percentage_postivie)

# 4. Création d'un tableau des jours pour les températures supérieures à 0
days = pd.date_range(start='2024-01-01', periods=len(january) )
print( days[ january['Temperature']  > 0 ] )
# 5. Températures supérieures à 0 à partir du dixième jour du mois
january_sup_9 = january.iloc[9:][ january.iloc[9:]['Temperature'] > 0 ]
print(january_sup_9)
# 6. Remplacement des températures négatives par la moyenne des températures positives
mean_positive = january[ january['Temperature'] > 0 ]['Temperature'].mean()
print(mean_positive)
# january[ january['Temperature'] < 0 ] = mean_positive

# 7. (facultafif ) Identifiez la plus longue période consécutive de jours où la température était supérieure à zéro, et donnez la durée de cette période ainsi que les dates de début et de fin de cette période.

19
19 12
il y a plus de temperatures positives
61.29
DatetimeIndex(['2024-01-02', '2024-01-04', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-11', '2024-01-13', '2024-01-14',
               '2024-01-15', '2024-01-18', '2024-01-19', '2024-01-20',
               '2024-01-21', '2024-01-23', '2024-01-25', '2024-01-28',
               '2024-01-29', '2024-01-30', '2024-01-31'],
              dtype='datetime64[ns]', freq=None)
    Temperature
10          6.0
12          3.0
13          3.0
14          7.0
17          7.0
18          4.0
19          7.0
20          8.0
22          5.0
24          3.0
27          7.0
28          8.0
29          4.0
30          2.0
5.315789473684211

In [8]:
january = pd.DataFrame({'Temperature': [-2,  5, -5,  6, -2,  0,  6,  2,  8,  0,  6, -1,  3,  3,  7,  0, -5,
                                        7,  4,  7,  8, -1,  5, -2,  3, -3, -2,  7,  8,  4,  2]}, dtype='float64')


january['Temperature_sup_0'] = (january['Temperature']  > 0 ).astype(int)

print(january)

    Temperature  Temperature_sup_0
0          -2.0                  0
1           5.0                  1
2          -5.0                  0
3           6.0                  1
4          -2.0                  0
5           0.0                  0
6           6.0                  1
7           2.0                  1
8           8.0                  1
9           0.0                  0
10          6.0                  1
11         -1.0                  0
12          3.0                  1
13          3.0                  1
14          7.0                  1
15          0.0                  0
16         -5.0                  0
17          7.0                  1
18          4.0                  1
19          7.0                  1
20          8.0                  1
21         -1.0                  0
22          5.0                  1
23         -2.0                  0
24          3.0                  1
25         -3.0                  0
26         -2.0                  0
27          7.0                  1
28          8.0                  1
29          4.0                  1
30          2.0                  1

In [17]:
january['Group'] = (january['Temperature_sup_0'] != january['Temperature_sup_0'].shift()).cumsum()

january['Day'] = january.index + 1

# january

    Temperature  Temperature_sup_0  Group  Day
0          -2.0                  0      1    1
1           5.0                  1      2    2
2          -5.0                  0      3    3
3           6.0                  1      4    4
4          -2.0                  0      5    5
5           0.0                  0      5    6
6           6.0                  1      6    7
7           2.0                  1      6    8
8           8.0                  1      6    9
9           0.0                  0      7   10
10          6.0                  1      8   11
11         -1.0                  0      9   12
12          3.0                  1     10   13
13          3.0                  1     10   14
14          7.0                  1     10   15
15          0.0                  0     11   16
16         -5.0                  0     11   17
17          7.0                  1     12   18
18          4.0                  1     12   19
19          7.0                  1     12   20
20          8.0                  1     12   21
21         -1.0                  0     13   22
22          5.0                  1     14   23
23         -2.0                  0     15   24
24          3.0                  1     16   25
25         -3.0                  0     17   26
26         -2.0                  0     17   27
27          7.0                  1     18   28
28          8.0                  1     18   29
29          4.0                  1     18   30
30          2.0                  1     18   31

In [25]:
m = len( january[january['Temperature'] > 0].groupby('Group')['Day'].apply(list).max() )

In [26]:
m

4

In [29]:
mask = january[january['Temperature'] > 0].groupby('Group')['Day'].apply(lambda x : len(x)) == m